/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
  --bg-light: #F5F4F4;
  --accent-orange: #FF8A36;

  --purple-light: #ADA0F5;
  --purple-main: #4932A0;
  --purple-dark: #352372;

  --black: #131113;

  --radius: 12px;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: var(--bg-light);
  color: var(--black);
}

.container {
  width: min(1200px, 88%);
  margin: auto;
}
